# Default ignored files
/../../KhasangImplementationOfTheStackExceptioClass./.idea/shelf/
/../../KhasangImplementationOfTheStackExceptioClass./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../KhasangImplementationOfTheStackExceptioClass./.idea/httpRequests/
# Datasource local storage ignored files
/../../KhasangImplementationOfTheStackExceptioClass./.idea/dataSources/
/../../KhasangImplementationOfTheStackExceptioClass./.idea/dataSources.local.xml
